image: maven:3.8.5-openjdk-17

stages:
  - build
  - test

build_app:
  stage: build
  tags:
    - hva
  script:
    - cd elections                   # <--- Step 1: Go into the project folder
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - elections/target/*.jar       # <--- Step 2: Tell GitLab where the JAR actually is

test_app:
  stage: test
  tags:
    - hva
  script:
    - cd elections                   # <--- Step 1: Go into the project folder
    # Step 3: Run tests using H2 database settings
    - mvn test -Dspring.datasource.url=jdbc:h2:mem:testdb -Dspring.datasource.driverClassName=org.h2.Driver -Dspring.datasource.username=sa -Dspring.datasource.password=